<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backgrounds</key>
	<dict>
		<key>BubbleBackground</key>
		<dict>
			<key>Light</key>
			<string>303030</string>
			<key>Dark</key>
			<string>303030</string>
		</dict>
		<key>PanelBackground</key>
		<dict>
			<key>Light</key>
			<string>2d2d2d</string>
			<key>Dark</key>
			<string>2d2d2d</string>
		</dict>
	</dict>
	<key>DeviceStatus</key>
	<dict>
		<key>StatusActive</key>
		<dict>
			<key>Light</key>
			<string>1da500</string>
			<key>Dark</key>
			<string>1da500</string>
		</dict>
		<key>StatusOffline</key>
		<dict>
			<key>Light</key>
			<string>f20f21</string>
			<key>Dark</key>
			<string>f20f21</string>
		</dict>
	</dict>
	<key>JSON</key>
	<dict>
		<key>LiteralValue</key>
		<dict>
			<key>Light</key>
			<string>38951b</string>
			<key>Dark</key>
			<string>38951b</string>
		</dict>
		<key>MemberKey</key>
		<dict>
			<key>Light</key>
			<string>c6c6c6</string>
			<key>Dark</key>
			<string>c6c6c6</string>
		</dict>
		<key>NumericValue</key>
		<dict>
			<key>Light</key>
			<string>e5ac10</string>
			<key>Dark</key>
			<string>e5ac10</string>
		</dict>
		<key>Operator</key>
		<dict>
			<key>Light</key>
			<string>ffffff</string>
			<key>Dark</key>
			<string>ffffff</string>
		</dict>
		<key>StringValue</key>
		<dict>
			<key>Light</key>
			<string>37fffb</string>
			<key>Dark</key>
			<string>37fffb</string>
		</dict>
		<key>Unknown</key>
		<dict>
			<key>Light</key>
			<string>ffffff</string>
			<key>Dark</key>
			<string>ffffff</string>
		</dict>
		<key>Whitespace</key>
		<dict>
			<key>Light</key>
			<string>ffffff</string>
			<key>Dark</key>
			<string>ffffff</string>
		</dict>
	</dict>
	<key>Overview</key>
	<dict>
		<key>Category</key>
		<dict>
			<key>Light</key>
			<string>f0b916</string>
			<key>Dark</key>
			<string>f0b916</string>
		</dict>
		<key>HeaderKey</key>
		<dict>
			<key>Light</key>
			<string>e07a16</string>
			<key>Dark</key>
			<string>e07a16</string>
		</dict>
		<key>HeaderValue</key>
		<dict>
			<key>Light</key>
			<string>37fffb</string>
			<key>Dark</key>
			<string>37fffb</string>
		</dict>
		<key>RequestMethod</key>
		<dict>
			<key>Light</key>
			<string>f4c41a</string>
			<key>Dark</key>
			<string>f4c41a</string>
		</dict>
	</dict>
	<key>RequestMethod</key>
	<dict>
		<key>RequestMethodDefault</key>
		<dict>
			<key>Light</key>
			<string>8a8a8a</string>
			<key>Dark</key>
			<string>8a8a8a</string>
		</dict>
		<key>RequestMethodDelete</key>
		<dict>
			<key>Light</key>
			<string>d75943</string>
			<key>Dark</key>
			<string>d75943</string>
		</dict>
		<key>RequestMethodGet</key>
		<dict>
			<key>Light</key>
			<string>16ac81</string>
			<key>Dark</key>
			<string>16ac81</string>
		</dict>
		<key>RequestMethodPost</key>
		<dict>
			<key>Light</key>
			<string>fbc05b</string>
			<key>Dark</key>
			<string>fbc05b</string>
		</dict>
		<key>RequestMethodPut</key>
		<dict>
			<key>Light</key>
			<string>106ddb</string>
			<key>Dark</key>
			<string>106ddb</string>
		</dict>
	</dict>
	<key>HttpStatusCode</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Light</key>
			<string>8a8a8a</string>
			<key>Dark</key>
			<string>8a8a8a</string>
		</dict>
		<key>100-Informational</key>
		<dict>
			<key>Light</key>
			<string>8a8a8a</string>
			<key>Dark</key>
			<string>8a8a8a</string>
		</dict>
		<key>200-Successful</key>
		<dict>
			<key>Light</key>
			<string>2cc55d</string>
			<key>Dark</key>
			<string>2cc55d</string>
		</dict>
		<key>300-Redirection</key>
		<dict>
			<key>Light</key>
			<string>ecb910</string>
			<key>Dark</key>
			<string>ecb910</string>
		</dict>
		<key>400-ClientError</key>
		<dict>
			<key>Light</key>
			<string>de342e</string>
			<key>Dark</key>
			<string>de342e</string>
		</dict>
		<key>500-ServerError</key>
		<dict>
			<key>Light</key>
			<string>de342e</string>
			<key>Dark</key>
			<string>de342e</string>
		</dict>
	</dict>
</dict>
</plist>
